{% extends "layout.html" %}


{% block content %}

<style>
  body{
  background-image: url("https://images.unsplash.com/photo-1518066000714-58c45f1a2c0a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3c11bb4d0a0cb5cf4133b2aa4f929f14&auto=format&fit=crop&w=800&q=60");
  }
</style>

<div class="container">

  <div class="row">
    <div class="col s12 m8 offset-m2 center-align ">
      <div class="welcome-card card grey darken-4">
        <div class="card-content white-text">
          <span class="card-title">Welcome</span>
          These items are just as real as the money you're paying us with.
          <p>Take a quick look below of what we offer.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://i.imgur.com/B7Qr6oE.png">
        <div class="caption center-align">
          <h3>Planets!</h3>
          <h5 class="light grey-text text-lighten-3">Your next potential habitital home.</h5>
        </div>
      </li>
      <li>
        <img src="https://i.imgur.com/vZZ1mJR.png">
        <div class="caption center-align">
          <h3>Starships!</h3>
          <h5 class="light grey-text text-lighten-3">Travel fast & in style.</h5>
        </div>
      </li>
      <li>
        <img src="https://i.imgur.com/uWC7a3s.png">
        <div class="caption center-align">
          <h3>Asteroids!</h3>
          <h5 class="light grey-text text-lighten-3">A place for your animals to roam.</h5>
        </div>
      </li>
      <li>
        <img src="https://i.imgur.com/WCCrtmi.png">
        <div class="caption center-align">
          <h3>Stars!</h3>
          <h5 class="light grey-text text-lighten-3">Could be your solar system's next star.</h5>
        </div>
      </li>
    </ul>
    <br>
  </div>
</div>
<div class="fixed-action-btn right-align">
    <a href="inventory">
      <button class="btn-floating tooltipped pulse btn-large deep-purple darken-3 waves-effect waves-light right-align" data-position="top" data-tooltip="View current listings">
        <i class="material-icons">arrow_forward</i>
      </button>
    </a>
  </div>

<script>
  //jQuery for carousel
  $(document).ready(function () {
    $('.slider').slider();
  });
</script>

{% endblock %}